/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** END OF RESET **/









body{
    max-width: 600px;
    min-width: 325px;
    padding: 0 25px 0 25px;
    margin: auto;
    margin-top: 50px;
    hyphens: auto;

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    
    -ms-hyphens: auto;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-chars: 7 3 3;

    /**text-aligh: justify;*/
}

h1 {
    font-size: 40px;
    font-family: freight-display-pro, serif;
    font-weight: 700;
    font-style: normal;
    line-height: 45px;
    padding: 0 50px 0 50px;
    margin-bottom: 25px; 
}

h2 {
    font-size: 24px;
    font-family: freight-big-pro, serif;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    letter-spacing: .4px;
    padding: 0 50px 0 50px;
    margin-bottom: 20px;
}

.byline {
    font-size: 13px;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    letter-spacing: .4px;
    padding: 0 50px 0 50px;
    margin-bottom: 40px;
}

p {
    font-size: 17px;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    letter-spacing: .4px;
    margin-bottom: 25px;

    /** style p+p {text-indent: 1em;} for adding indents starting from the second paragraph**/
}

.pullquote {
    font-size: 25px;
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 20px;
    padding: 30px 85px 30px 80px;
}

a {
    color: darkred;
}

a:hover {
    color: red;
}

/** span .giveclassname {} **/







/** RESPONSIVE **/

@media only screen and (max-width: 450px) {
    h1{
        font-size:52px;
        line-height: 52px;
        padding: 0;
    }
    
    h2{
        font-size: 28px;
        line-height: 32px;
        padding: 0; 
    }

    .byline {
        padding: 0;
        font-weight: 900;
        letter-spacing: 0; 
    }

    .pullquote {
        font-size: 28px;
        line-height: 32px;
        padding: 13px 25px 30px 25px;
    }

    p {
     font-size: 20px;
     line-height: 31px;
     margin-bottom: 30px;
    }
   
}


@media only screen and (max-width: 375px) {
    h1{
        font-size:45px;
        line-height: 45px;
        padding: 0;
    }

    h2{
        font-size: 24px;
        line-height: 30px;
        padding: 0; 
    }

    p {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 30px;
    }
}


